<div class="page-wrapper">
  <div class="game">
    <h1>Conway's Game of Life Simulator</h1>

    <div class="controls">
      <button class="start">Start</button>
      <button class="reverse" disabled>Reverse</button>
      <button class="pause">Pause</button>
      <button class="step-back" disabled>-1</button>
      <button class="step-forward">+1</button>
      <button class="clear">Clear</button>
    </div>

    <div class='board-specs'>
      <form class="board-size">
        <label>
          Board size:
          <input type="text" name="num-rows">
          <input type="text" name="num-cols">
        </label>
        <button class="submit-board">Set</button>
      </form>

      <span class="speed">Speed (steps/sec):</span>
      <input class="speed" type="text">
      <span class='steps'></span>
    </div>
    
    <div class="message-text">
      <h3 class="message"></h3>
    </div>
  
    <main>
      <div class="board-wrapper">
        <div class="board"></div>
      </div>

      <div class="known-states">
        <h2>Some Known Oscillators:</h2>
        <a href="http://www.conwaylife.com/wiki/Oscillator">(more here)</a>
      </div>
      
    </main>
  </div>

  <div class="sidebar">
    <div class="temp-states-wrapper">
      <h2>Last Made States:</h2>
      <div class="temp-states">
      </div>
    </div>
  </div>

  
</div>