<h1>Conway's Game of Life Simulator</h1>

<div class="controls">
  <button class="start">Start</button>
  <button class="pause">Pause</button>
  <button class="clear">Clear</button>
</div>

<main class="board">
  <div class="board-wrapper">
    
  </div>
</main>