<div class="page-wrapper">

  <h1>Conway's Game of Life Simulator</h1>

  <div class="controls">
    <button class="start">Start</button>
    <button class="reverse" disabled>Reverse</button>
    <button class="pause">Pause</button>
    <button class="clear">Clear</button>
    <button class="step-back" disabled>-1</button>
    <button class="one-step">+1</button>
  </div>

  <div class="history">
    <form>
      <label>
        Save that last configuration?
        <input type="text" name="title" placeholder="Name it...">
      </label>
      <button>Save</button>
    </form>
  </div>

  <div class='step-count'>
    <span class="speed">Speed (steps/sec):</span>
    <input class="speed" type="text">
    <span class='steps'></span>
  </div>

  <main class="board">
    <div class="board-wrapper">
      
    </div>
  </main>

</div>