<div class="page-wrapper">

  <h1>Conway's Game of Life Simulator</h1>

  <div class="controls">
    <button class="start">Start</button>
    <button class="reverse" disabled>Reverse</button>
    <button class="pause">Pause</button>
    <button class="clear">Clear</button>
    <button class="step-back" disabled>-1</button>
    <button class="step-forward">+1</button>
  </div>

  <div class="history">
    <form>
      <label>
        Save current configuration?
        <input type="text" name="title" placeholder="Name it...">
      </label>
      <button>Save</button>
    </form>
  </div>

  <div class='board-specs'>
    <form class="board-size">
      <label>
        Board size:
        <input type="text" name="num-rows">
        <input type="text" name="num-cols">
      </label>
      <button class="submit-board">Set</button>
    </form>

    <span class="speed">Speed (steps/sec):</span>
    <input class="speed" type="text">
    <span class='steps'></span>
  </div>

  <main class="board">
    <div class="board-wrapper">
    </div>
  </main>

</div>