/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.board {
  padding: 50px 50px;
}

h1 {
  text-align: center;
  padding-top: 40px;
}

.controls {
  width: 200px;
  margin: 0 auto;
  color: white;
}

button {
  /*padding-left: 5px;*/
  border-radius: 4px;
}

.start {
  display: inline-block;
  float: left;
  background: green;
}

.pause {
  display: inline-block;
  background: red;
}

.clear {
  display: inline-block;
  float: right;
  background: blue;
}

.board-wrapper {
  display: inline-block;
  margin-left: 440px;
}

.cell {
  display: inline-block;
  margin-top: -4px;
  height: 20px;
  width: 20px;
  background: rgb(253, 245, 219);
  border: 1px solid black;
}

.alive {
  background: red;
}