header {
  background: black;
  display: inline-block;
  position: relative;
  
  .title {
    display: inline-block;
    position: relative;
    width: 60%;
  }

  a {
    text-decoration: none;
    color: white;

    h2 {
      margin: 12px 0 12px 20px;
    }
  }

  .links {
    display: inline-block;
    width: 35%;
      float: right;

    ul {
      text-align: center;

      li {
        display: inline;
        margin-left: 15px;
      }
    }
  }
}
